<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

        <div>
                <a href='/blog'>Main Blog Page</a>
                <a href='/newpost'>Add a Blog Entry</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

    {% block content %}
    {% endblock %}

    <div>
        <p align='center'><a href='/logout'>Logout</a></p>
        <p align='center'><a href='/login'>Login</a></a></p>
        <p align='center'><a href='/'>Home</a></p>
    </div>
</body>
</html>