{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center;">{{title}}</h1>
{% if specificblog_author %}
    <h1 style="text-align:center;">{{specificblog_title}}</h1> 
    <p>{{specificblog_post}}</p>
    <p>
            <i>written by <a href="/blog?user={{specificblog_author}}">{{specificblog_author}}</a></i>
    </p>
{% endif %}   

            {% for blog in blogs %}
            
            <h2>
                <a href="/blog?id={{blog.id}}">{{blog.title}}</a>
            </h2>
            <p>
                {{blog.body}}
            </p>
            <p>
                <i>written by <a href="/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></i>
            </p>
            {% endfor %}

{% endblock %}