{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center;">{{title}}</h1>
<h1 style="text-align:center;">{{specificblog_title}}</h1> 
<p>{{specificblog_post}}</p>   

            {% for blog in blogs %}
            
            <h2>
                <a href="/blog?id={{blog.id}}">{{blog.title}}</a>
            </h2>
            <p>
                {{blog.body}}
            </p>
            <p>
                <i>written by <a href="/blog?user={{userID}}">{{userID}}</a></i>
            </p>
            {% endfor %}
{% if specificblog_post %}
    <p>
        <i>written by <a href="/blog?user={{userID}}">{{userID}}</a></i>
    </p>
{% endif %}
{% endblock %}